:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;
    --white: #FFFFFF;
    --yellow: #ffff00;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
    --color0: #bec8e4;
    --color1: #90e040;
    --color2: #90bb40;
    --color3: #aa9040;
    --color4: #dd7040;
    --color5: #ff4040;
  }

  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-y: scroll;
    background: var(--greyLight-1);
  }
  @media screen and (min-width: 900px) {
    html {
      font-size: 75%;
    }
  }

  body{
    font-family: "Poppins", sans-serif;
  }
  
  .container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    background: var(--greyLight-1);
  }
  
  .components {
    width: 26rem;
    height: 44rem;
    border-radius: 3rem;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
    padding: 1rem 4rem;
    display: grid;
    position: relative;
    align-items: center;
    vertical-align: middle;
  }

  /*  BUTTONS  */
.btn {
    width: 200px;/* 17rem */
    min-width: 100px;
    height: 4rem;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    justify-self: auto;
    display: flex;
    align-items: bottom;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .btn__primary {
    background: var(--primary);
    box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-light), inset -0.2rem -0.2rem 1rem var(--primary-dark), 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    color: var(--greyLight-1);
  }
  .btn__primary:hover {
    color: var(--yellow);
    background: var(--primary-dark) ;
  }
  .btn__primary:active {
    box-shadow: inset 0.2rem 0.2rem 1rem var(--primary-dark), inset -0.2rem -0.2rem 1rem var(--primary-light);
  }
  .btn__secondary {
    background: var(--greyDark);
    color: var(--primary-dark);
  }
  .btn__secondary:hover {
    color: var(--primary);
  }
  .btn__secondary:active {
    box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  }
  .btn p {
    font-size: 1.6rem;
  }

  .output_class{
    width: 200px;/*17rem*/
    min-height: 10vh;
    min-width: 100px;
    border-radius: 1rem;
    display: flex;
    font-size: 36px;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    background: var(--greyLight-3);
  }

  .data_class{
    width: 200px;
    min-height: 10vh;
    min-width: 100px;
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    background: var(--greyLight-1);
  }

  #map {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    min-width:100px;
    min-height: 100px;
    background: var(--greyLight-3);
    z-index: 10;
    display: none;
  }

  .month_class {
    width: 26rem;
    height: 48rem;
    border-radius: 3rem;
    box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
    padding: 0.1rem 1rem;
    display: grid;
    align-items: center;
    position: relative;
    display: none;
  }

  .no-border{
    border: 0;
  }

  .icon__info {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
    color: var(--greyDark);
    transition: all 0.5s ease;
  }

  .dark{
    color: var(--primary-dark);
  }

  .cells{
    cursor: pointer;
    border-radius: 6px;
    border: 0;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  }
  .cells-border{
    border-radius: 6px;
    border: medium solid #ff0000;
    border-color: red;
    cursor: pointer;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  }

  .btnBack {
    width: 80px;/* 17rem */
    height: 3rem;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
    justify-self: auto;
    display: block;
    margin: auto;
    /*align-items: bottom;*/
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
  }
  

  